.smallOffice{
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  width: 211px;
  height: 301px;
  align-items: center;
  justify-content: center;
  place-items: center;
  border: 1px solid violet;

}

.OfficeTableSurface {
  width: 75px;
  height: 152px;
  margin: auto;
  background-color: #eee;
  border: 1px solid violet;
  border-radius: 10px;
}

.OfficeChair {
border-radius: 5px;
width: 30px;
height: 58px;
background-color: #eee;
border: 1px solid hotpink;
}
